.courseCard {
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	background: #f7f7f7;
	margin-bottom: 20px;
	padding: 20px;
	box-shadow: 0px 2px 3px #aaa;

	.actions {
		display: flex;
		justify-content: flex-end;
	}

	h2 {
		margin-top: 0;
	}

	p {
		margin-bottom: 0;
	}

	.author {
		font-size: 14px;
		color: #888;
		margin-bottom: 20px;
	}

	> button {
		/* > symbol helps us to find first child element*/
		margin-top: 1rem;
	}

	&:active {
		background-color: #e0e8ec;
	}
}
