.button{
    appearance: none; /* this is used to disable native styling based on the operating systems theme*/
    background-color: cornflowerblue;
    border: none; 
    border-radius: 5px; /*this is used to make corners of the button rounded */
    color: #fff; /* Specifies the color of the text on the button */
    cursor: pointer; /* Changes the cursor to a hand symbol when hovering over the button */
    font-size: 16px;
    padding: 10px 20px; /* Specifies the padding inside the button, this increases the clickable area and improves accessibility */
    text-align: center; /* Centers the text horizontally within the button */
    text-decoration: none; /* Centers the text horizontally within the button */
    transition: background-color 0.3s ease; /* Smoothly changes the background color over 0.3 seconds when hovered or selected */
    /* ease is a timing-function, it specifies the speed curve of the transition effect */
  }
  
  .button:hover {
    background-color: #00aaff; /* Changes the background color when the mouse pointer is over the button */
  }
  
  .button:active {
    background-color: #005999; /* Changes the background color when the button is clicked (or "active") */
  }
  
  .buttonImg {
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }