.searchContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	padding: 30px;
}

.searchButtonInput {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

.addButton {
	flex-grow: 1;
}
